# Apply

In [234]:
import pandas as pd
import numpy as np
import re

In [235]:
ataques_apply = pd.read_csv("../Pandas/ficheros_pandas/attacks3.csv", index_col=0)
ataques_apply.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,Y,FATAL,03-Jun-2018

En los ejercicios de hoy pondremos en pr√°ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.


Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:

1.- Cread una columna nueva y una funci√≥n que nos de el mes en el que ocurri√≥ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).
üí° Pista üí°Pod√©is usar regex.

In [236]:
patron1 = "Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec"

In [237]:
def sacar_mes(mes):
    if len(mes) == 11:
        a = re.findall(patron1, mes)
        return "".join(a)
    elif mes == " ":
        return np.nan
    else:
        return np.nan

In [238]:
ataques_apply["mes"] = ataques_apply["date"].apply(sacar_mes)

In [239]:
ataques_apply.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,mes
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,Y,FATAL,03-Jun-2018,Jun

In [240]:
# Comprobamos en una de las columnas que antes hab√≠a una fecha sin estructurar que ya nos aparece como Nan
ataques_apply[ataques_apply["case_number"] == "ND.0097"]

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,mes
1587,ND.0097,0.0,Unprovoked,USA,Florida,"Key West, Monroe County",Kitesurfing,Paul Menta,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6201,N,Hand bitten,No date,NaN

2.- Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no ser√° as√≠ üò≠. Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [241]:
ataques_apply["fatal_(y/n)"].value_counts()

N          1256
Y           317
UNKNOWN       8
 N            2
M             1
2017          1
Name: fatal_(y/n), dtype: int64

In [242]:
def sacar_fatal(valor):
        if valor == "Y":
            return "Y"
        elif valor == "N" or valor == " N":
            return "N"
        else:
            return np.nan

In [243]:
ataques_apply["fatal"] = ataques_apply["fatal_(y/n)"].apply(sacar_fatal)

In [244]:
ataques_apply["fatal"].value_counts()

N    1258
Y     317
Name: fatal, dtype: int64

In [245]:
# Mostramos con este filtro uno de los casos para UNKNOWN y ver que se ha modificado a NaN

ataques_apply[ataques_apply["case_number"] == "1755.00.00"]

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,mes,fatal
1523,1755.00.00,1755.0,Unprovoked,SWEDEN,Skagerrak arm of the North Sea,Bohusl√§n,NaN,Fishermen,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6137,UNKNOWN,NaN,1755,NaN,NaN

3.- Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [246]:
ataques_apply["sex_"].value_counts()

M      1435
F       222
lli       1
Name: sex_, dtype: int64

In [247]:
def sacar_sex(valor):
        if valor == "M":
            return "M"
        elif valor == "F":
            return "F"
        else:
            return np.nan

In [248]:
ataques_apply["sex"] = ataques_apply["sex_"].apply(sacar_sex)

In [249]:
# Mostramos un filtro donde podemos apreciar que el g√©nero lli se ha modificado por NaN
ataques_apply[ataques_apply["case_number"] == "2004.11.11.b"]

,case_number,year,type,country,area,location,activity,name,sex_,age,...,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,mes,fatal,sex
590,2004.11.11.b,2004.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,38,...,5.5 m [18'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,1618,N,"Lacerations to hand, knee & thigh",11-Nov-2004,Nov,N,NaN

4.- Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

In [250]:
ataques_apply.drop(columns=["sex_","fatal_(y/n)","date"], inplace= True)

In [251]:
ataques_apply.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,unnamed:_0,injury,mes,fatal,sex
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,FATAL,Jun,Y,M

Guardad el dataframe en un csv que usaremos m√°s adelante

In [252]:
ataques_apply.to_csv("../Pandas/ficheros_pandas/attacks4.csv")

Happy coding ü¶à